<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fanfic Library</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
{% block body %}
<div class="container">
    {% if breadcrumbs %}
    <div class="row">
        <div class="column breadcrumbs">
            <ul>
                {% for title, link in breadcrumbs %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% block rows %}
    {% endblock %}
</div>
{% endblock %}
</body>
</html>