{% extends "base.html" %}

{% block rows %}
<div class="grid-x">
    <div class="cell auto">
        <h1>Fanfic Library</h1>

        <form method="get">
            <div class="input-group">
                <input class="input-group-field" type="text" name="q" placeholder="Search ..." value="{{ request.args.get('q', '') }}"/>
                <div class="input-group-button">
                    <button type="submit" class="button"><i class="fi-magnifying-glass"></i></button>
                </div>
            </div>
        </form>

        <form method="post">
            <div class="input-group">
                <input class="input-group-field" type="text" name="thread_url" placeholder="Enter an URL ..."/>
                <div class="input-group-button">
                    <button type="submit" class="button">Add</button>
                </div>
            </div>
        </form>

        <table class="fanfic-list unstriped">
            <thead>
            <tr>
                <th><a href="{{ sort_url('id') }}">ID</a></th>
                <th><a href="{{ sort_url('title') }}">Title</a></th>
                <th><a href="{{ sort_url('author') }}">Author</a></th>
                <th><a href="{{ sort_url('word-count') }}">Word Count</a></th>
            </tr>
            </thead>
            <tbody>
            {% for fanfic in fanfics %}
            <tr class="fanfic-item">
                <td>{{ fanfic.id }}</td>
                <td>
                <a class="title" href="{{ url_for('show', fid=fanfic.id) }}">{{ fanfic.title }}</a>
                {% if fanfic.summary %}
                <p>{{ fanfic.summary }}</p>
                {% endif %}
                </td>
                <td>{{ fanfic.author }}</td>
                <td>{{ fanfic.words }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}