{% extends "base.html" %}

{% block rows %}
<div class="grid-x">
    <div class="cell auto">
        <h2>{{ fanfic.title }}</h2>
    </div>
</div>
<div class="grid-x">
    <div class="cell auto">
        <div class="callout">
            <b>Author:</b> {{ fanfic.author }}<br/>
            <b>Word Count:</b> {{ fanfic.words }}<br/>
            <p>{{ fanfic.summary }}</p>
            <a href="{{ fanfic.thread_url }}" target="_blank">Open Original Link</a> <small>{{ fanfic.thread_type }} | {{ fanfic.thread_id }}</small>
        </div>
    </div>
    <div class="cell large-2 medium-3">
        <div class="grid-x actions">
            <div class="cell small-6">
                <a href="{{ url_for('edit', fid=fanfic.id) }}" class="button small secondary"><i class="fi-pencil"></i> Edit</a>
            </div>
            <div class="cell small-6">
                <a href="?do=delete" class="button small alert" onclick="return confirm('Really Delete?');"><i class="fi-trash"></i> Delete</a>
            </div>
            <div class="cell small-6">
                <a href="{{ url_for('refresh', fid=fanfic.id) }}" class="button small secondary"><i class="fi-refresh"></i> Refresh</a>
            </div>
            <div class="cell small-6">
                <a href="{{ url_for('fetch', fid=fanfic.id) }}" class="button small secondary" onclick="return confirm('This can take long, proceed?');"><i class="fi-download"></i> Fetch</a>
            </div>
            <div class="cell small-12">
                <a href="#" class="button small"><i class="fi-archive"></i> Export</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <table>
            <tr>
                <th>Title</th>
                <th>Words</th>
                <th>Likes</th>
                <th>Author</th>
                <th>Published</th>
                <th>Status</th>
            </tr>
            {% for tm in threadmarks %}
            <tr>
                <td><a href="{{ url_for('view', fid=fanfic.id, tmid=tm.post_id) }}">{{ tm.title }}</a></td>
                <td>{{ tm.words }}</td>
                <td>{{ tm.likes }}</td>
                <td>{{ tm.author }}</td>
                <td>{{ tm.published }}</td>
                {% if status[tm.post_id] %}<td class="success">Local</td>{% else %}<td>N/A</td>{% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}