{% extends "base.html" %}

{% macro navigation() %}
<div class="grid-x">
    <div class="cell text-right">
        {% if prev %}
        <a href="{{ url_for('view', fid=fanfic.id, tmid=prev.post_id) }}" class="button small">&laquo; Prev</a>
        {% endif %}
        <a href="{{ url_for('show', fid=fanfic.id) }}" class="button small">Index</a>
        {% if next %}
        <a href="{{ url_for('view', fid=fanfic.id, tmid=next.post_id) }}" class="button small">Next &raquo;</a>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% block rows %}
<div class="grid-x">
    <div class="cell">
        <h1>{{ threadmark.title }}</h1>
        <p>
            <b>Published:</b> {{ threadmark.published }}
            <b>Words:</b> {{ threadmark.words }}
            <b>Likes:</b> {{ threadmark.likes }}
        </p>
    </div>
</div>
{{ navigation() }}
<div class="grid-x">
    <div class="cell contents">
        {% if contents %}
        {{ contents|safe }}
        {% else %}
        No local content
        {% endif %}
    </div>
</div>
{{ navigation() }}
{% endblock %}