div.breadcrumbs-cell {
    margin-top: 10px;
    padding: 5px;
}

div.breadcrumbs-cell ul.breadcrumbs {
  margin: 0;
}
/*
div.breadcrumbs ul li {
  display: inline;
}

div.breadcrumbs ul li:before {
    content: '/ ';
}

div.breadcrumbs ul li:first-child:before {
    content: '';
}
*/
div.navigation {
    float: right;
}

div.navigation a.button {

}

div.actions {
    margin-left: 5px;
}

div.actions > .cell {
    padding: 0 5px 5px 0;
}

div.actions .button {
    display: block;
    margin-bottom: 0
}

div.fanfic-item {
    margin-bottom: 5px;

}

div.fanfic-item a.title {
    display: block;
    font-size: 1.2rem;
}

div.cell.contents {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

table td.success {
    background-color: #3adb76;
}

/* Custom size */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}